.switcher {
    background-color: transparent;
    outline: none;
    border: none;

    display: flex;
    align-items: center;
    gap: 1rem;

    cursor: pointer;

    color: var(--colors-text);
    font-size: var(--fs-md);

    user-select: none;
}